body {
  margin: 2%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body .delete-button {
  margin: 10px 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.form button {
  width: 50px;
  margin: 10px 0;
}

.form input {
  width: 200px;
  height: 30px;
  margin: 10px 0;
}

.color-picker {
  position: absolute;
  top: 0;
  left: 10;
}

.hide {
  display: none;
}
